@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f3f2f7;
  color: #464255;
}
.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
  border-radius: 3px;
  overflow: hidden;
}

.inp .label {
  position: absolute;
  top: -30px;
  left: 12px;
  font-size: 16px;
  color: rgba(var(--dark), 0.5);
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}
